{
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "@emotion",
            {
              "sourceMap": true,
              "autoLabel": "dev-only",
              "labelFormat": "[local]",
              "cssPropOptimization": true
            }
        ]
      ],
      "presets": [
        [
          "babel-preset-gatsby",
          {
            "targets": {
              "browsers": [">0.25%", "not dead"]
            }
          }
        ]
      ]
  }